body {
    background-color: #C0C0C0;
}

.clear{
	clear:both;
}

.header-warper{
	position:relative;
	background-color: #C0C0C0;
	padding-left:50px;
	padding-right:50px;
	height:auto;
	overflow:hidden;
}


.header-warper h1{
	color: blue;
	text-align: center;
	font-style: oblique;
	 padding-top: 30px;
}	

.lefticon{
	float:left;
	font-size:38px;
	padding-left:40px;
	padding-top:20px;
}

.body-warper{
	padding-left:50px;

}

.lefticon ul{
	list-style:none;
}

.righticon{
	float:right;
	font-size:38px;
	padding-right:40px;
	padding-top:20px;
}

.righticon ul{
	list-style:none;
}

.righticon li{
	float:right;
	 width:30px;
	 height:40px;
	 padding-right:4px;
}

.about-me{
	padding-left:80px;
	padding-right:80px;
	background-color: #C0C0C0;
	
}

.about-me p{
	padding-left:15px;
        line-height: 160%;
	font-family:courier;

}

.contact p{
	font-family:courier;
	padding-left:15px;
}

.project{
	padding-left:80px;
	padding-right:80px;
	background-color: #C0C0C0;	
}

.contact{
	background-color: #C0C0C0;
	padding-left:80px;
	padding-right:80px;
}

.contact ul{
	list-style:none;
	padding-left:10px;
}
hr {
margin-top:0px;
    	border: 0;
    	height: 1px;
    	background: #333;
    	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.lefticon img{
	width: 20px;
	height:20px;
}

.righticon img{
	width: 20px;
	height:20px;
}

.sol-net img{
	padding-left:20px; 
	width:30px;
	height:30px;
}

#slidy-container{
	width:70%;
	overflow: hidden;
	margin: 0 auto;
}

.project p{
	padding-left:15px;
	color:red;
}
	
.footer-warper{
	background-color:black;
	
}

.footer{
	color:white;
	text-align:center;
}

.footer p{
	font-family:courier;
}

